@{ 
    ViewData["Title"] = "Arquivo Index do teste";
}

<div class="text-center">
       <h3>Meu nome é: @ViewData["Nome"]</h3>
        <h3>Meu Numero é: @ViewData["Numero"]</h3>
        <h3>Meu Email: @ViewData["Email"]</h3>
        <h3>A materia deste projeto é @ViewData["Materia"]</h3>
        <h3>Tenho essa materia @ViewData["Dias"]</h3>
        <h3>E @ViewData["Bimestre"]</h3>
</div>
